{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{author.image}}" alt="{{author.name}}" />
</div>
<div class="detail__name">
    
    <h1 class="title">{{author.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'author_update' author.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'author_delete' author.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    
        
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About Author:</h4>
        <p>{{author.bio}}</p>
    </div>
    <hr>
    <div class="detail__books mb-5">

        <h3 class="title is-5">Books by {{author.name}}:</h3>

        <form class="mb-5" action="{% url 'book_create' author.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Book Title"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="description"
                        placeholder="Description of Book"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="image"
                        placeholder="Book Image"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Book" />
                </div>
            </div>
        </form>
    
        {% for book in author.books.all %}
        <div class="book">
          <span>{{forloop.counter}}</span>
          <span><b>{{book.title}}</b></span>
          <span>{{book.description}}</span>
          <hr>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Books Available</p>
          </div>
        </article>
    
        {% endfor %}
      </div>   
</div>

{% endblock %}